#root {
  margin: 0 auto;
}

.blogPage {
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background-color: #374142;
  overflow-x: hidden;
}

.header {
  min-width: 100%;
  background-color: #4a5759;
  height: 10vh; 
  text-align: center;
  position: fixed;
}

.headerTitle {
  color: #f7e1d7;
  line-height: 6vh;
  font-size: 38px;
  margin: 0;
  font-weight: bold; 
}

.headerSubtitle {
  color: #dedbd2;
  fontzize: 28px;
  margin: 0;
  font-weight: 300;
  front-style: oblique 14deg;
}

.content-gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  width: 92vw;
}

.grid-post {
  height: 60vh;
  width: 28vw;
  padding: 12px;
  border-radius: 8px;
  background-color: #4a5759;
}

.postCard-image {
  height: 30vh;
  width: auto;
}

.post-title {
  font-size: 20px;
  color: #b0c4b1;
  height: 6vh;
}

.post-publishDate {
  font-size: 14px;
  margin-top: 2px;
  color: #f7e1d7;
}

.post-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;   /* Anzahl der Zeilen */
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #f7e1d7;
}

