#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.blogPage {
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background-color: #374142;
  overflow-x: hidden;
}

.header {
  min-width: 100%;
  background-color: #4a5759;
  height: 10vh; 
  text-align: center;
  position: fixed;
}

.headerTitle {
  color: #f7e1d7;
  line-height: 10vh;
  font-size: 38px;
  margin: 0;
}

.content {
  height: 88vh;
  margin-top: 12vh;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.content-gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}